<!DOCTYPE html>
{% load i18n static sekizai_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "misc/includes/favicons.html" %}
    {% block meta_tags %}
    {% endblock meta_tags %}
    <link ref="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script nonce="{{ request.csp_nonce }}">
        window.settings = {
        STATIC_URL: '{{ STATIC_URL }}',
        MEDIA_URL: '{{ MEDIA_URL }}',
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>{% block head_title %}Crudl App{% endblock head_title %}</title>
    {% block css %}{% endblock css %}
    {% render_block "css" %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% include "crudl/header.html " %}
    <div class="container my-5">
        {% block content %}
            <div class="row">
                <div class="col-lg-4">
                    {% block sidebar%}
                    {% endblock sidebar%}
                </div>
                <div class="col-lg-8">
                    {% block main %}
                    {% endblock main %}
                </div>
            </div>
        {% endblock content %}
    </div>
    {% include "crudl/footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% url 'js_settings' %}"></script>
    {% block js %}{% endblock js %}
    {% render_block "js" %}
    {% block extra_body %}{% endblock extra_body %}
</body>
</html>