{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylesheet" href="static {% 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Header</h1>
        </nav>
    </header>
    <section>
        {% block content %}
        {% endblock content %}
    </section>
    <footer></footer>
</body>
</html>