{% extends "crudl/base.html" %}
{% load i18n %}
{% block content %}
<div class="ideas">
    <div class="idea-detail">
        {% if request.user.is_authenticated and request.user == idea.author %}
        <a href="{% url 'ideas:change_idea' pk=idea.pk %}"><button class="btn btn-red">{% trans "Change this idea" %}</button></a>
        {% endif %}
        <div class="image">
            <img src="{{ idea.picture_large.url }}" alt="{{ idea.title }}">
        </div>
        <h1 class="title">{{ idea.title }}</h1>
        <div class="content">{{ idea.content }}</div>
        <span class="rating">{{ idea.rating }}</span>
        <div class="author">{{ idea.author.username }}</div>
    </div>
</div>
{% endblock content %}