{% extends "crudl/base.html" %}
{% load i18n utility_tags %}
{% block sidebar%}
    {% include "ideas/includes/filters.html" %}
{% endblock sidebar%}
{% block main %}
<h1>{% trans "Ideas" %}</h1>
{% if object_list %}
    {% for idea in object_list %}
        <div class="card">
            <div class="card-detail">
                <div class="card-image">
                    <img src="{{ idea.picture_thumbnail.url }}" alt="{{ idea.title }}">
                </div>
                <h1><a class="d-block my-3" href="{{ idea.get_url_path }}">{{ idea.title }}</a></h1>
                <div class="card-body">
                    <p class="card-text">{{ idea.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include "misc/includes/pagination.html" %}
{% else %}
    <p>{% trans "There are no ideas yet." %}</p>
{% endif %}
{% endblock main %}